<h2>
    RAW данные
</h2>

<form action="">
    <label>
        <span>SSID</span><input type="text">
    </label>
    <label>
        <span>ChannelBonding</span><input type="text">
    </label>
    <label>
        <span>WPAKey</span><input type="text">
    </label>
    <label>
        <span>ExtendedChannel</span><input type="text">
    </label>
    <label>
        <span>UseChannelLimit</span><input type="text">
    </label>
    <label>
        <span>ChannelLimit</span><input type="text">
    </label>
</form>
