<h2>
    RAW данные
</h2>

<form>
    <label>
        <span>SSID</span><input name="ssid" [ngModel]="routerSettings.ssid" type="text" (input)="changeRawSettingsHandler($event)">
    </label>
    <label>
        <span>ChannelBonding</span><input name="channelBonding" [ngModel]="routerSettings.channelBonding" type="text" (input)="changeRawSettingsHandler($event)">
    </label>
    <label>
        <span>WPAKey</span><input name="wpaKey" [ngModel]="routerSettings.wpaKey" type="text" (input)="changeRawSettingsHandler($event)">
    </label>
    <label>
        <span>ExtendedChannel</span><input name="extendedChannel" [ngModel]="routerSettings.extendedChannel" type="text" (input)="changeRawSettingsHandler($event)">
    </label>
    <label>
        <span>UseChannelLimit</span><input name="useChannelLimit" [ngModel]="routerSettings.useChannelLimit" type="text" (input)="changeRawSettingsHandler($event)">
    </label>
    <label>
        <span>ChannelLimit</span><input name="channelLimit" [ngModel]="routerSettings.channelLimit" type="text" (input)="changeRawSettingsHandler($event)">
    </label>
</form>
