:host.router-settings {
  display: block;
  max-width: 550px;
  margin: 0 auto;
}
h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #888888;
  margin-bottom: 35px;
}
.settings-form {
  display: inline-block;
  width: 100%;
}
.form-group {
  width: 100%;
  margin-top: 15px;
  &:first-child {
    margin-top: 0;
  }
  span {
    display: inline-block;
    width: 200px;
    white-space: normal;
    text-align: right;
    vertical-align: middle;
  }
  input, select {
    vertical-align: middle;
    width: calc(100% - 222px);
    margin-left: 20px;
    &.ng-dirty {
      &.ng-valid {
        border-color: green;
      }
      &.ng-invalid {
        border-color: red;
      }
    }
  }
  input {
    padding: 6px 10px;
    &[type="checkbox"] {
      width: 17px;
      height: 17px;
    }
  }
  select {
    padding: 5px 7px;
  }
}
.form-actions {
  width: 100%;
  margin-top: 20px;
  white-space: nowrap;
  text-align: right;
}

.channel-list {
  width: calc(100% - 222px);
  margin-left: 20px;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 15px;
  div {
    border: 1px solid #888888;
    padding: 3px;
    width: calc(100% / 9);
    text-align: center;
    box-sizing: border-box;
  }
}
