/* You can add global styles to this file, and also import other style files */
html, body {
  font-size: 18px;
}
button {
  font-size: 17px;
  &:hover {
    cursor: pointer;
  }
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: normal;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
.btn {
  border: 1px solid #bdbdbd;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  color: #ffffff;
}
.btn-success {
  border-color: #5cb85c;
  background-color: #5cb85c;
  &:hover {
    background-color: #47a447;
    border-color: #398439;
  }
}
input, select, textarea {
  border: 1px solid #888888;
  border-radius: 2px;
  box-sizing: border-box;
}